#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-image: url(https://w.wallhaven.cc/full/83/wallhaven-83wgdo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url(https://w.wallhaven.cc/full/7p/wallhaven-7pv6w3.jpg);
  }
}
